<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title or "Daftar Sekarang - 2025" }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />

    <!-- Open Graph (Facebook, Telegram, WhatsApp) -->
    <meta property="og:title" content="Daftar Sekarang" />
    <meta property="og:description" content="Form Pedaftaran" />
    <meta
      property="og:image"
      content="https://daftarsekarang.io.ru.com/img/1749828325143.jpg"
    />
    <meta property="og:type" content="website" />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar">
      <div class="navbar-nav">
        <a href="#" class="active">
          Bahasa Indonesia <span>| English | 摩訶至 | भारत</span>
        </a>
      </div>
    </nav>

    <div class="container">
      <div class="flash">
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
        message in messages %}
        <p>{{ message }}</p>
        {% endfor %} {% endif %} {% endwith %}
      </div>

      {% block content %} {% endblock %}
    </div>

    <footer>
      <img
        src="{{ url_for('static', filename='ini1.png') }}"
        alt="Logo Footer"
      />
    </footer>
  </body>
</html>
